@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Filson Pro Bold";
  src: url(https://cdn.shopify.com/s/files/1/2800/8456/t/6/assets/wagz-store-filson-pro-bold.woff?v=1601576487);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Filson Pro Bold", sans-serif;
}

body,
p,
ul,
ol,
li,
a,
button,
input,
textarea,
select,
label,
dd {
  font-family: "Lato", sans-serif;
}

p {
  @apply text-base font-[300] leading-loose lg:text-xl;
}

p + p {
  @apply mt-4;
}

p:last-child {
  @apply mb-0;
}

@layer base {
  :root {
    --primary: 0, 156, 222;
    --primary-dark: 0, 101, 144;
    --secondary: 79, 205, 50;
    --tertiary: 222, 0, 45;
    --white: 255, 255, 255;
  }
}

.navigation_link {
  @apply relative z-10 flex items-center justify-center text-sm font-bold uppercase text-primary hover:text-primary-dark;
}

.navigation_link::after {
  @apply bg-primary-dark;
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navigation_link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.wagz-container {
  @apply container mx-auto max-w-7xl px-8;
}

/* Button */
.button {
  @apply relative inline-block overflow-hidden bg-primary text-center font-bold uppercase tracking-wide text-white;
  transition: all 0.3s;
  box-shadow: 0;
  transition: 1s;
  border-radius: 0 15px;
}
.button:hover {
  transition: 0.5s;
}

.button.primary {
  background-color: rgb(var(--primary));
}

.button.primary:hover {
  box-shadow: 10px 10px 0 rgba(var(--primary-dark), 0.5);
}

.button.secondary {
  background-color: rgb(var(--secondary));
}

.button.secondary:hover {
  box-shadow: 10px 10px 0 rgba(var(--secondary), 0.5);
}

.button.white {
  @apply border-2 border-primary text-primary;
  background-color: rgb(var(--white));
}

.button.white:hover {
  @apply border-primary-dark text-primary-dark;
  box-shadow: 10px 10px 0 rgba(var(--primary), 0.5);
}

.button.tertiary {
  background-color: rgb(var(--tertiary));
}

.button.tertiary:hover {
  box-shadow: 10px 10px 0 rgba(var(--tertiary), 0.5);
}

.button.small {
  @apply p-4;
}
.button.medium {
  @apply px-8 py-6;
}
.button.large {
  @apply px-16 py-6 text-xl;
}

.button.xLarge {
  @apply px-32 py-6 text-xl;
}

/* Link */

a.link {
  text-decoration: none;
  position: relative;
}

a.link:hover::before {
  bottom: 0;
  height: 100%;
}

a.link::before {
  content: "";
  background-color: rgba(var(--primary), 0.75);
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 2px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

/* Headers */

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

.header.serif {
  @apply font-serif;
}

.header.sans {
  @apply font-sans;
}

.header.primary {
  @apply text-primary;
}
.header.black {
  @apply text-black;
}

.header.white {
  @apply text-white;
}

.header.blended {
  background-color: #037197;
  background-image: linear-gradient(45deg, #037197, #2eac4d);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-div {
  @apply w-full;
}
.header-div.center {
  text-align: center;
}

.header.secondary {
  @apply text-secondary;
}

h1,
.h1 {
  @apply text-4xl font-bold lg:text-6xl;
}

h2,
.h2 {
  @apply text-2xl font-bold lg:text-4xl;
}

h3,
.h3 {
  @apply text-xl font-bold lg:text-3xl;
}
h4,
.h4 {
  @apply text-xl font-bold lg:text-2xl;
}

/* CTA */
.cta-text {
  @apply text-2xl text-white;
}

/* Circle */
.circle {
  @apply h-full md:h-[400px];
}
.circle-height {
  @apply h-auto md:h-[400px];
}
.circle-width {
  @apply w-auto md:w-[400px];
}

.circle-text {
  @apply pb-4 text-2xl text-white lg:w-3/4;
}

/* Text Block */
.text-block .subTitle,
.text-block .supTitle {
  @apply text-lg uppercase;
}

.text-block .title {
  @apply text-5xl;
}

.text-block .text {
  @apply py-8;
}

.text-block .text h3 {
  @apply mb-6;
}

.text-block .buttons {
  @apply flex flex-col gap-8 md:flex-row;
}

.copywrite {
  @apply text-sm;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

/* Icon */

/* Hero */

.hero {
  @apply relative;
}

.hero .hero-image {
  @apply min-h-[420px] py-32 md:min-h-[580px] xl:min-h-[680px];
}

.hero .hero-image img {
  @apply relative h-full;
}

.hero .hero-image .fullScreen {
  @apply hidden lg:block;
}
.hero .hero-image .mediumScreen {
  @apply hidden md:block lg:hidden;
}
.hero .hero-image .smallScreen {
  @apply block md:hidden;
}

.hero {
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 15px;
  background: linear-gradient(90deg, #006d9c 0, #49d01f 100%);
}

.image {
  @apply h-72 w-72 xl:h-96 xl:w-96;
}

.image.circle {
  @apply rounded-full object-cover object-top;
}

.image.square {
  @apply object-contain object-top;
}

.footer {
  @apply relative;
}
.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 15px;
  background: linear-gradient(90deg, #006d9c 0, #49d01f 100%);
}
.footer-link {
  @apply text-base font-semibold text-primary;
}

.bg-linear {
  background: linear-gradient(90deg, #006d9c 0, #49d01f 100%);
}

/* Logos */
@keyframes slideshow {
  0% {
    left: 0;
  }
  100% {
    left: -200%;
  }
}
@keyframes moveSlideshow {
  100% {
    -webkit-transform: translateX(-200%);
  }
}

.scroll-logos {
  position: relative;
  animation: slideshow 20s linear infinite;
  transform: translate3d(0, 0, 0);
}

.homepage-hero .title {
  @apply uppercase;
}

.homepage-hero .text p {
  @apply font-sans text-xl leading-9 lg:text-3xl;
}

hr::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 15px;
  background: linear-gradient(90deg, #006d9c 0, #49d01f 100%);
}

/* Count Section */
.large_number {
  @apply text-[100px] font-bold leading-tight text-primary;
}

span.text h3 {
  @apply text-gray;
}

.text a {
  @apply text-primary underline;
}

.scroll-parent {
  position: relative;
  width: 100%;
  height: 10rem;
  overflow-x: hidden;
}

.scroll-element {
  width: inherit;
  height: inherit;
  position: absolute;
  left: 0%;
  top: 0%;
  animation: primary 20s linear infinite;
}

@keyframes primary {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

.scroll-element.primary {
  animation: primary 20s linear infinite;
}

.scroll-element.secondary {
  animation: secondary 20s linear infinite;
}
@media (max-width: 768px) {
  .scroll-parent {
    width: 200%;
  }
  .scroll-element.primary {
    animation: primaryMobile 20s linear infinite;
  }
  .scroll-element.secondary {
    animation: secondaryMobile 20s linear infinite;
  }
}

@keyframes primary {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

@keyframes secondary {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

@keyframes primaryMobile {
  from {
    left: 0%;
  }
  to {
    left: -200%;
  }
}

@keyframes secondaryMobile {
  from {
    left: 200%;
  }
  to {
    left: 0%;
  }
}

.icons {
  @apply flex flex-row gap-8;
}

.icons span {
  @apply text-center font-sans text-lg font-bold text-primary;
}

/* Slider */
.slick-slider {
  @apply p-8;
}

.slick-dots {
  left: 0;
}

.slick-track {
  @apply flex items-center justify-center !important;
}

.icon-selector {
  @apply relative cursor-pointer hover:rounded-lg hover:bg-primary/50;
  transition: 0.5s ease;
}

.fancy-icon {
  @apply relative;
  transition: 0.5s ease;
  border-bottom: 4px solid transparent;
}

.fancy-icon.selected:after {
  @apply overflow-hidden rounded-lg;
  content: "";
  position: absolute;
  bottom: -6.5px;
  width: 85%;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  height: 4px;
  background: #1c9add;
}

@media screen and (max-width: 768px) {
  .fancy-icon {
    border-bottom: 2px solid #1c9add;
    transition: 0.5s ease;
    transform: ;
  }
  .fancy-icon.selected:after {
    display: none;
  }
}

.icon-selector.selected {
  background: #fff;
}

.slider-background:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 600px;
  background: #1c9add;
  top: 0;
  bottom: 0;
  margin: auto;
}

.slider-text .text {
  @apply text-white;
}

.callout {
  @apply absolute bottom-0 right-0 z-[2] hidden h-72 w-72 flex-col items-center justify-center rounded-full md:flex;
  background: linear-gradient(180deg, #009cde 15%, #49d01f 100%);
}

.callout .title {
  @apply w-2/3 text-3xl font-bold leading-none text-white;
}

.callout .text {
  @apply w-2/3 text-lg leading-tight text-white;
}
