@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Filson Pro Bold";
  src: url(https://cdn.shopify.com/s/files/1/2800/8456/t/6/assets/wagz-store-filson-pro-bold.woff?v=1601576487);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Filson Pro Bold", sans-serif;
}

body,
p,
ul,
ol,
li,
a,
button,
input,
textarea,
select,
label,
span,
div {
  font-family: "Lato", sans-serif;
}

@layer base {
  :root {
    --primary: 0, 156, 222;
    --primary-dark: 0, 101, 144;
    --secondary: 79, 205, 50;
    --tertiary: 222, 0, 45;
    --white: 255, 255, 255;
  }
}

.navigation_link {
  @apply relative z-10 flex items-center justify-center uppercase font-bold text-primary hover:text-primary-dark;
}

.navigation_link::after {
  @apply bg-primary-dark;
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navigation_link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.wagz-container {
  @apply mx-auto container max-w-7xl px-8;
}

/* Button */
.button {
  @apply relative overflow-hidden bg-primary text-white inline-block uppercase tracking-wide;
  transition: all 0.3s;
  box-shadow: 0;
  transition: 1s;
  border-radius: 0 15px;
}
.button:hover {
  transition: 0.5s;
}

.button.primary {
  background-color: rgb(var(--primary));
}

.button.primary:hover {
  box-shadow: 10px 10px 0 rgba(var(--primary-dark), 0.5);
}

.button.secondary {
  background-color: rgb(var(--secondary));
}

.button.secondary:hover {
  box-shadow: 10px 10px 0 rgba(var(--secondary), 0.5);
}

.button.white {
  @apply border-2 border-primary text-primary;
  background-color: rgb(var(--white));
}

.button.white:hover {
  @apply text-primary-dark border-primary-dark;
  box-shadow: 10px 10px 0 rgba(var(--primary), 0.5);
}

.button.tertiary {
  background-color: rgb(var(--tertiary));
}

.button.tertiary:hover {
  box-shadow: 10px 10px 0 rgba(var(--tertiary), 0.5);
}

.button.small {
  @apply p-4;
}
.button.medium {
  @apply px-8 py-6;
}
.button.large {
  @apply px-16 py-6 text-xl;
}

/* Link */

a.link {
  text-decoration: none;
  position: relative;
}

a.link:hover::before {
  bottom: 0;
  height: 100%;
}

a.link::before {
  content: "";
  background-color: rgba(var(--primary), 0.75);
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 2px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

/* Headers */

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

.header.serif {
  @apply font-serif;
}

.header.sans {
  @apply font-sans;
}

.header.primary {
  @apply text-primary;
}
.header.black {
  @apply text-black;
}

.header.white {
  @apply text-white;
}

.header.blended {
  background-color: #037197;
  background-image: linear-gradient(45deg, #037197, #2eac4d);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-div {
  @apply w-full;
}
.header-div.center {
  text-align: center;
}

.header.secondary {
  @apply text-secondary;
}

h1,
.h1 {
  @apply font-bold text-4xl lg:text-6xl;
}

h2,
.h2 {
  @apply font-bold text-2xl lg:text-4xl;
}

h3,
.h3 {
  @apply font-bold text-xl lg:text-3xl;
}
h4,
.h4 {
  @apply font-bold text-xl lg:text-2xl;
}

/* CTA */
.cta-text {
  @apply text-2xl text-white;
}

/* Circle */
.circle {
  @apply h-full md:h-[400px];
}
.circle-height {
  @apply h-auto md:h-[400px];
}
.circle-width {
  @apply w-auto md:w-[400px];
}

.circle-text {
  @apply text-2xl text-white lg:w-3/4 pb-4;
}

/* Text Block */
.text-block .subTitle,
.text-block .supTitle {
  @apply uppercase text-black text-lg;
}

.text-block .title {
  @apply text-5xl;
}

.text-block .text {
  @apply py-8;
}

.text-block .text p {
  @apply text-base lg:text-xl leading-loose;
}

.text-block .buttons {
  @apply flex flex-col md:flex-row gap-8;
}

.copywrite {
  @apply text-sm;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

/* Icon */

/* Hero */

.hero {
  @apply relative;
}

.hero .hero-image {
  @apply min-h-[350px] md:min-h-[500px] xl:min-h-[600px];
}

.hero .hero-image img {
  @apply relative h-full;
}

.hero .hero-image .fullScreen {
  @apply hidden lg:block;
}
.hero .hero-image .mediumScreen {
  @apply hidden md:block lg:hidden;
}
.hero .hero-image .smallScreen {
  @apply block md:hidden;
}

.hero {
  background: linear-gradient(90deg, #006d9c 0, #49d01f 100%);
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 15px;
  background: linear-gradient(90deg, #006d9c 0, #49d01f 100%);
}

.image {
  @apply h-72 w-72 xl:h-96 xl:w-96;
}

.image.circle {
  @apply rounded-full object-cover object-top;
}

.image.square {
  @apply object-contain object-top;
}

.footer {
  @apply relative;
}
.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 15px;
  background: linear-gradient(90deg, #006d9c 0, #49d01f 100%);
}

.bg-linear {
  background: linear-gradient(90deg, #006d9c 0, #49d01f 100%);
}

/* Logos */
@keyframes slideshow {
  0% {
    left: 0;
  }
  100% {
    left: -200%;
  }
}
@keyframes moveSlideshow {
  100% {
    -webkit-transform: translateX(-200%);
  }
}

.scroll-logos {
  position: relative;
  animation: slideshow 10s linear infinite;
  transform: translate3d(0, 0, 0);
}
